<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components//polymer/lib/mixins/property-effects.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="../../src/auth0-login.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 10px;
        height: 570px;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="container">

      <app-drawer-layout fullbleed narrow="{{narrow}}">
        <!-- Drawer content -->
        <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
          <app-toolbar>Menu</app-toolbar>
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <a name="view1" href="[[rootPath]]view1">View One</a>
            <a name="view2" href="[[rootPath]]view2">View Two</a>
            <a name="view3" href="[[rootPath]]view3">View Three</a>
          </iron-selector>
        </app-drawer>

        <!-- Main content -->
        <app-header-layout has-scrolling-region>

          <app-header slot="header" condenses reveals effects="waterfall">
            <app-toolbar>
              <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
              <div main-title>Practitioner Project</div>

              <auth0-login></auth0-login>
            </app-toolbar>
          </app-header>

          <iron-pages
              selected="[[page]]"
              attr-for-selected="name"
              fallback-selection="view404"
              role="main">
            <my-view1 name="view1"></my-view1>
            <my-view2 name="view2"></my-view2>
            <my-view3 name="view3"></my-view3>
            <my-view404 name="view404"></my-view404>
          </iron-pages>
        </app-header-layout>
      </app-drawer-layout>


      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button class="btn btn-danger" on-click="obtenerClientes" type="button" name="button">Obtener Clientes</button>
        <button class="btn btn-info" on-click="anadirCliente" type="button" name="button">Registrar Clientes</button>
      </div>
      <div class="row">
        <table hidden$="{{noCargados}}" class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.Apellido]]
                </td>
                <td>
                  [[item.idcliente]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {

        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados:{
            type: Boolean,
            value: true
          },
          respuesta:{
            type : Object
          },
          pais: function(){
            /**type: String,
            value:**/
            this.textContent ='https://www.countries-ofthe-world.com/flags-normal/flag-of-United-Kingdom.png';
          }
        };
      }
      obtenerClientes(){
        var url = "http://localhost:3002/movimientos";
        var request = new XMLHttpRequest();
        request.open("GET",url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        this.noCargados = false;
        /**var bandera = model.item.Country;
        console.log('mensaje bandera: '+bandera);
        console.log('mensaje this.bandera: '+this.banderea);

        if (bandera == 'UK')
          this.pais = 'https://www.countries-ofthe-world.com/flags-normal/flag-of-United-Kingdom.png'
        else {
          this.pais = 'https://www.countries-ofthe-world.com/flags-normal/flag-of-[[item.Country]].png'
        }**/
      }
      anadirCliente(){
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"CustomerID":"12345", "ContactName":"Pipa", "CompanyName":"Pipas club"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta=request.responseText;
        console.log(this.respuesta);
        this.noCargados = false;

      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
