<%- layout('layouts/main') %>
<p></p>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
          <h3 class="card-title"><span class="fa fa-user"></span>DATOS DEL USUARIO</h3>
          <p>
            <strong>id</strong> : <%= user._id%> <br>
            <strong>email</strong> : <%= user.email %> <br>
            <strong>password</strong> : <%= user.password %>
          </p>

      </div>
    </div>
  </div>
</div>
