<%- layout('layouts/main')%>
<script src="https://kit.fontawesome.com/3bb99ca108.js"></script>
<body class="signin">

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card  mt-4 text-center">
      <div class="card-header" style="background-color:rgb(3,139,146)">
        <h3 style="color:rgb(255,255,255)">INGRESO </h3>
      </div>
      <div class="card-body" style="background-color:rgb(1,46,100);">
        <form action="/signin" method="POST" >
          <div class="form-group">
            <input type="email" name="email" placeholder="Insert Email" required class="form-control">
          </div>
          <div class="form-group">
            <input type="password" name="password" placeholder="Insert Password" required class="form-control">
          </div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-user"> Ingresar</i></button>
        </form>
      </div>
    </div>
  </div>
</div>
