<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mi proyecto de practicioner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="background-color:rgb(7,33,73);">
  <!-- NAVIGATION -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#">PRACTICIONER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if (user) { %>
          <li class="nav-item active">
            <a class="nav-link" href="/profile">Perfil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/posg">posición global <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>

        <% } else { %>
        <li class="nav-item active">
          <a class="nav-link" href="/signin">Acceso <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrate</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%if (signinMessage.length > 0) {%>
      <div class="alert alert-danger">
        <p><%= signinMessage %></p>
      </div>

    <% } %>
    <%if (signupMessage.length > 0) {%>
      <div class="alert alert-dange">
        <p><%= signupMessage %></p>
      </div>
    <% } %>
  </div>



  <%- body %>
</body>
</html>
